<h5>Add a New To Do Item to the List</h5>
  <%= form_for [user, item] do |f| %>
    <div class= "form-group">
      <%= f.label :name, class: 'sr-only' %>
      <%= f.text_field :name, class: 'form-control', placeholder: "Enter the new To Do Item" %>
    </div>
    <%= f.submit "Submit Item", class: 'btn btn-default pull-right' %>
  <% end %>
